# .pre-commit-config.yaml

default_language_version:
  python: python3.12

repos:
  - repo: https://github.com/PyCQA/docformatter
    rev: v1.7.7
    hooks:
      - id: docformatter
        args: ["--in-place", "--wrap-summaries=100", "--wrap-descriptions=100"]
        language_version: python3.12
        exclude: ^examples/use_cases/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.1
    hooks:
      - id: ruff
        args: ["--fix", "--exit-non-zero-on-fix"]
        language_version: python3.12
        exclude: \.ipynb$|^examples/use_cases/
      - id: ruff-format
        language_version: python3.12
        exclude: \.ipynb$|^examples/use_cases/

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-toml
      - id: debug-statements
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.34.0
    hooks:
      - id: check-github-workflows
        files: ^\.github/workflows/.*\.ya?ml$

  - repo: https://github.com/crate-ci/typos
    rev: v1.36.2
    hooks:
      - id: typos
        exclude: ^examples/use_cases/
